@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

:root {
	--main-black: #303030;
	--main-white: #f6f6f6;
	--main-blue: #4677bb;
	--main-green: #00a000;
	--main-red: #dc3545;
	--dark-blue: #426eac;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	width: 100%;
	min-height: 100vh;
	font-family: 'Poppins', Arial, Helvetica, sans-serif;
	background-color: var(--main-white);
}

a {
	color: unset;
	text-decoration: none;
}

ul,
li {
	list-style: none;
}
